@page
@model IndexModel
@{
    ViewData["Title"] = "AAD Accesss Token Policy Management";
}

<div class="text-center">
    <p>App to management Azure AD Access token policies and assign these to Azure App registrations</p>
</div>

<div class="row">
    <div class="col-lg-3">
    </div>
    <div class="col-sm-12 col-lg-6 col-md-12">
        <img src="~/images/tokenPolicyOverview_01.png" width="100%" />
    </div>
    <div class="col-lg-3">
    </div>
</div>

<br />

<div class="text-center">
    <a href="https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-configurable-token-lifetimes#configurable-token-lifetime-properties">Docs: Configurable token lifetime properties</a>.
</div>

