**/bin
**/obj
/.vs
**/.vs
**/serviceDependencies.json
**/serviceDependencies.local.json
**/serviceDependencies.local.json.user
**/node_modules/
**/dist/
**/*.csproj.user
/AngularAzureADMultipleApis/LogsServiceApi.txt
/BlazorWithApis/LogsServiceApi.txt
