**/bin
**/obj
/.vs
/MyServerRenderedPortal/Properties/serviceDependencies.json
/MyServerRenderedPortal/Properties/serviceDependencies.local.json
/MyServerRenderedPortal/Properties/serviceDependencies.local.json.user
/LogsMyServerRenderedPortal.txt
/LogsServiceApi.txt
