@page
@model IndexModel
@{
    ViewData["Title"] = "Azure AD App roles";
}

<div class="text-center">
    <h1 class="display-4">Azure AD authentication, authorization with roles</h1>
    <p>Web App which accesses Web API with different roles</p>
</div>
