@page
@model IndexModel
@{
    ViewData["Title"] = "Microsoft Entra ID App roles";
}

<div class="text-center">
    <h1 class="display-4">Microsoft Entra ID authentication, authorization with roles</h1>
    <p>Web App which accesses Web API with different roles</p>
</div>
